.MenuItem{
  padding: 15px;
  background: rgb(92, 9, 9);
  color: white;
  font-size: 25px;
  padding-left: 20px;
  cursor: pointer;
  position: relative;
}
.MenuItem:hover{
  background: darkgoldenrod;
}
.active::after{
  content: '';
  width: 40px;
  height: 40px;
  background: darkgoldenrod;
  position: absolute;
  top: 7px;
  left: 171px;
  transform: rotateZ(45deg);
  z-index: 2;
  border-radius: 10px;
  
}
.MenuItem.active{
  background: darkgoldenrod;
}