.DeviceHistory{
  width: 100%;
  padding-top: 40px;
}
.datetime-section{
  display: flex;
  justify-content: center;
}
.DeviceHistory a{
  border: 1px solid;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.generalInfo{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.generalInfo-item{
  display: flex;
  flex-direction: column;
  font-size: 24px;
}