body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
*{
  outline: none;
  text-align: center;
}

ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color:black;
}
