.DeviceInfo-item{
  font-size: 20px;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  padding-left: 2px;
  padding-top: 10px;
  border-bottom: 1px solid #beb4b4;
}
.DeviceInfo-item span{
  width: 75%;
  text-align: center;
  padding-left: 4px;
  overflow: hidden;
}

.DeviceInfo-item span:first-child{
  width: 25%;
  text-align: center;
}
.location{
  flex-direction: column;
  margin-top: 15px;
}
.location-item{
  display: flex;
}
.btn-link{
  padding: 10px;
  margin-top: 10px;
  font-size: 18px;
}