body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
input, button{
    padding: 5px;
}
span{
    padding-left: 5px;
    padding-right: 5px;
}
